
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}


#chat {
    width: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.emote{
    transition: .3s ease-out;
}